@model CalendarApplication.Models.Group.GroupPrivilegesModel

@{
    ViewBag.Title = "SetPrivileges";
}

<h2>@Model.Name</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.Name)
    
    <table>
        <tr>
            <td>
                <fieldset>
                    <legend>@Html.LabelFor(model => Model.EventTypes)</legend>
                    @Html.ListEditorFor(model => Model.EventTypes, "Allowed", "All event types")
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save Changes"/>
            </td>
        </tr>
    </table>   
}