@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.User;

@if(!Request.IsAuthenticated) {
    <h2>Welcome to Stengade CalendarApplication</h2>

    <text>
        You may view upcomming events using the
        @Html.ActionLink("calendar menu", "Month", "Calendar", new { year = DateTime.Now.Year, month = DateTime.Now.Month }, null).<br />
        If you have an account, you may  
        @Html.ActionLink("log in", "Login", "Account", null, null)
        else you may create an account by @Html.ActionLink("registering", "Register", "Account", null, null).
    </text>
}
else {
    <h2>Welcome @UserModel.GetCurrent().RealName</h2>

    <text>
        You may view upcomming events using the
        @Html.ActionLink("calendar menu", "Month", "Calendar", new { year = DateTime.Now.Year, month = DateTime.Now.Month }, null).<br />
    </text>
    
}
