@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Calendar;

@if(!Request.IsAuthenticated) {
    <h2>Welcome to Stengade CalendarApplication</h2>
    
    <text>
        You may view upcoming events using the
        @Html.ActionLink("calendar menu", "", "Calendar", null, null).<br />
        If you have an account, you may  
        @Html.ActionLink("log in", "Login", "Account", null, null)
        else you may create an account by @Html.ActionLink("registering", "Register", "Account", null, null).
    </text>
}
else {
    <h2>Welcome @UserModel.GetCurrent().RealName</h2>

    <text>
        You may view upcoming events using the
        @Html.ActionLink("calendar menu", "", "Calendar", null, null).<br />
        Use the @Html.ActionLink("profile page", "", "User", new { userId = UserModel.GetCurrentUserID() }, null)
        to view or edit your profile.
    </text>
    
}
