@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Database;

@if(!Request.IsAuthenticated) {
    <h2>Welcome to Stengade CalendarApplication</h2>
    
    <text>
        You may view upcoming events using the
        @Html.ActionLink("calendar menu", "", "Calendar", null, null).<br />
        If you have an account, you may  
        @Html.ActionLink("log in", "Login", "Account", null, null)
        else you may create an account by @Html.ActionLink("registering", "Register", "Account", null, null).
    </text>
}
else {
    UserModel user = UserModel.GetCurrent();
    <h2>Welcome @user.FirstName</h2>
    
    <text>
        You may view upcoming events using the
        @Html.ActionLink("calendar menu", "", "Calendar", null, null).<br />
        Use the @Html.ActionLink("profile page", "", "User", new { userId = UserModel.GetCurrentUserID() }, null)
        to view or edit your profile.
    </text>
    
    if (user.Admin)
    {
        <br />
        <br />
        MySqlUser msu = new MySqlUser();
        int count = msu.GetUnapprovedCount();
        bool eqone = count == 1;
        <text>
              There @(eqone ? "is" : "are") currently
              @Html.ActionLink("" + count + (eqone ? " new user" : " new users" ),"ManageUsers","Maintenance",null,null)
              awaiting activation.
        </text>
        <br />
        <br />
        MySqlGroup msg = new MySqlGroup();
        count = msg.GetApplicantCountAdmin();
        eqone = count == 1;
        <text>
              There @(eqone ? "is" : "are") currently
              @Html.ActionLink("" + count + (eqone ? " applicant" : " applicants" ),"ViewApplicants","Group",null,null)
              for groups.
        </text>
    }
    else
    {
        MySqlGroup msg = new MySqlGroup();
        int count = msg.GetApplicantCountLeader(user.ID);
        if(count > 0)
        {
            bool eqone = count == 1;
            <br />
            <br />
            <text>
                  There @(eqone ? "is" : "are") currently
                  @Html.ActionLink("" + count + (eqone ? " applicant" : " applicants" ),"ViewApplicants","Group",null,null)
                  for groups that you are a leader of.
            </text>
        }
    }
}
