@model CalendarApplication.Models.Group.GroupModel

@{
    ViewBag.Title = "EditGroup";
}

@using CalendarApplication.Models.User;

<script src="@Url.Content("~/Scripts/create-eventtype.js")" type="text/javascript"></script>

<h2>@(Model.ID != -1 ? "Edit Group" : "Create Group")</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    
    <!--Consider putting some description here!-->
    
    <!--Styles needed for fields view. Putting it here avoids duplication code-->
    <style>
        #fields td {padding:0;padding-left:5px;padding-right:5px}
        #fields tr {padding:0;}
        #fields th {padding:0;}
    </style>
    
    <table>
        <tr>
            <td>
                <fieldset>
                    <legend>
                        @Html.HiddenFor(model => Model.ID)
                        @Html.LabelFor(model => Model.Name)
                    </legend>
                    @Html.EditorFor(model => Model.Name)
                    @Html.ValidationMessageFor(model => Model.Name)
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset>
                    <legend>@Html.LabelFor(m => m.groupLeaders)</legend>
                    @Html.ListEditorFor(m => m.groupLeaders, "Group Leaders", "Group Members")
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset>
                    <legend>@Html.LabelFor(model => model.canCreate)</legend>
                    @Html.ListEditorFor(m => m.canCreate, "Can Edit", "Group Members")
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset>
                    <legend>@Html.LabelFor(model => model.groupMembers)</legend>
                    @Html.ListEditorFor(m => m.groupMembers, "Group Members", "Approved Users")
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="@(Model.ID != -1 ? "Save changes" : "Create Group")"/>
            </td>
        </tr>
    </table>
    
    
}