@model CalendarApplication.Models.EventType.EventTypeModel

@{
    ViewBag.Title = Model.ID != -1 ? "Edit Event Type" : "Create Event Type";
}

@using CalendarApplication.Models.EventType;

<script src="@Url.Content("~/Scripts/create-eventtype.js?" + CalendarApplication.Models.Maintenance.Config.GetVersion()) type="text/javascript"></script>

<h2>@(Model.ID != -1 ? "Edit Event Type" : "Create Event Type")</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.HiddenFor(model => Model.ID)
    <b>@Html.LabelFor(model => Model.Name)</b><br />
    @Html.EditorFor(model => Model.Name)
    @Html.ValidationMessageFor(model => Model.Name)
    <br />
    <br />
    
    <!--Consider putting some description here!-->
    
    <!--Styles needed for fields view. Putting it here avoids duplication code-->
    <style>
        #fields table {border-collapse: collapse;}
        #fields td {padding:0;padding-left:5px;padding-right:5px}
        #fields tr th {padding:0;}
        #fields table.button-pane {
            border-bottom:1px solid black;
            border-left:1px solid black;
            border-top:1px solid black;
        }
        #fields table.button-pane td {cursor: pointer;}
        #fields table.button-pane td:hover {background-color: lightgray;}
    </style>
    
    <script>setIdCounter(@Model.ActiveFields)</script>
    
    <div id="fields">
        @for (int e = 0; e < Model.TypeSpecific.Count && Model.TypeSpecific[e].ID != -1; e++)
        {
            <div id="field_@(e)">
                @Html.Partial("FieldDetails", Model.TypeSpecific[e])
            </div>
        }
    </div>
    
    <input type="button" value="Add New Field" onclick="newField()" />
    
    <br />
    <br />
    <input type="button" onclick="checkFields(this.form)" value="@(Model.ID != -1 ? "Save changes" : "Create Event Type")"/>
    <div id="event-type-submit-error" class="validation-summary-errors" style="display:none">Some fields are not filled out!</div>
}