@model CalendarApplication.Models.Maintenance.MaintenanceModel

@{
    ViewBag.Title = "Index";
}

<h2>Maintenance page</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

<script>
    function setSubmitValue(subId) {
        document.getElementById("SubmitValue").value = subId;
    }

    function deleteRoom() {
        var c = confirm("Are you sure you want to delete this room? \nThis will permanently remove its association with all events.");
        if (c == true) {
            setSubmitValue(6)
        }
        else {
            setSubmitValue(7)
        }

    }

    function deleteGroup() {
        var c = confirm("Are you sure you want to delete this group? \nThis is permanent and cannot be undone!");
        if (c == true) {
            setSubmitValue(8)
        }
        else {
            setSubmitValue(9)
        }

    }

</script>

@using (Html.BeginForm()) {
@Html.HiddenFor(m => Model.SubmitValue);
<fieldset>
    <legend>Event types</legend>
    <!--<table>
        <tr>
            <td>
                @Html.DropDownListFor(m => Model.SelectedEventType, new SelectList(Model.EventTypes, "Value", "Text"))
            </td>
            <td>
                <input type="submit" value="Edit" onclick="setSubmitValue(0)" />
            </td>
            <td>
                <input type="submit" value="Create new" onclick="setSubmitValue(1)" />
            </td>
        </tr>
    </table>-->
    @Html.ActionLink("Manage event types","ManageEventTypes")
</fieldset>

<fieldset>
    <legend>Groups</legend>
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(m => Model.SelectedGroup, new SelectList(Model.Groups, "Value", "Text"))
            </td>
            <td>
                <input type="submit" value="Edit" onclick="setSubmitValue(2)" />
            </td>
            <td>
                <input type="submit" value="Set privileges" onclick="setSubmitValue(10)" />
            </td>
            <td>
                <input type="submit" value="Delete" onclick="deleteGroup()" />
            </td>
            <td>
                <input type="submit" value="Create new" onclick="setSubmitValue(3)" />
            </td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <legend>Users</legend>
    @Html.ActionLink("Manage users","ManageUsers","Maintenance",null,null)
</fieldset>
    
    <fieldset>
    <legend>Rooms</legend>
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(m => Model.SelectedRoom, new SelectList(Model.Rooms, "Value", "Text"))
            </td>
            <td>
                <input type="submit" value="Rename" onclick="setSubmitValue(4)" />
            </td>
            <td>
                <input type="submit" value="Delete" onclick="deleteRoom()" />
            </td>
            <td>
                <input type="submit" value="Create new" onclick="setSubmitValue(5)" />
            </td>
        </tr>
    </table>
</fieldset>
}