@model CalendarApplication.Models.Maintenance.ManageUserModel

@{
    ViewBag.Title = "ManageUsers";
}

<script src="@Url.Content("~/Scripts/edit-user.js")" type="text/javascript"></script>

<h2>Manage Users</h2>

<style type="text/css">
    .counter {
        width:40px;
        border:none;
        font-size:18px;
    }

    .custom-select {
        width:200px
    }
    .custom-select option {
        width:190px
    }

    .no-pad-table {
        margin-left:0;
        margin-right:auto;
        margin-top:0;
        border-collapse:collapse;
    }
    .no-pad-table td {
        padding:2px;
        padding-right:5px;
    }
</style>

<h3>Users currently active: <input type="text" class="counter" id="UASelect_counter" style="color:green"
                                value="@Model.UsersApproved.Count" readonly="readonly"></h3>
<table class="no-pad-table">
    <tr>
        <td rowspan="2">
            @Html.DropDownListFor(m => Model.UASelect, new SelectList(Model.UsersApproved, "Value", "Text"),
                                        new { @class="custom-select", size="6" })
        </td>
        <td>
            <input type="button" value="View" onclick="showUser('UASelect')"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Deactivate" onclick="sendData('active-rem')" />
        </td>
    </tr>
</table>

<h3>Users awaiting approval: <input type="text" class="counter" id="UNASelect_counter" style="color:yellow"
                                    value="@Model.UsersNotApproved.Count" readonly="readonly"></h3>
<table class="no-pad-table">
    <tr>
        <td rowspan="3">
            @Html.DropDownListFor(m => Model.UNASelect, new SelectList(Model.UsersNotApproved, "Value", "Text"),
                                        new { @class="custom-select", size="6" })
        </td>
        <td>
            <input type="button" value="View" onclick="showUser('UNASelect')"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Delete" onclick="deleteUser()" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Approve" onclick="sendData('approval')" />
        </td>
    </tr>
</table>

<h3>Inactive users: <input type="text" class="counter" id="UISelect_counter" style="color:red"
                        value="@Model.UsersInactive.Count" readonly="readonly"></h3>
<table class="no-pad-table">
    <tr>
        <td rowspan="2">
            @Html.DropDownListFor(m => Model.UISelect, new SelectList(Model.UsersInactive, "Value", "Text"),
                                        new { @class="custom-select", size="6" })
        </td>
        <td>
            <input type="button" value="View" onclick="showUser('UISelect')"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Activate" onclick="sendData('active-add')" />
        </td>
    </tr>
</table>