@model CalendarApplication.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<h2>Use a local account to log in.</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol style="list-style-type:none">
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    
    <!-- Print message if any (fx if unsuccessful login) -->
    <p style="color:red">
        @TempData["message"]
    </p>
    
    <p>
       @Html.ActionLink("Register", "Register", "Account") if you don't have an account.
    </p>
}