@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.User;

<table class="gridtable">
    @{
        var curActn = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLowerInvariant();
        var curCtrl = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToLowerInvariant();
        <tr><td>
            @if(curActn != "" && curCtrl != "home") { @Html.ActionLink("Home", "", "Home") }
            else { <b>@Html.ActionLink("Home", "", "Home")</b> }
        </td></tr>
        <tr><td>
            @if(curActn != "" && curCtrl != "calendar") {
                @Html.ActionLink("Calendar", "Index", "Calendar", Calendar.InitialView, null)
            }
            else { <b>@Html.ActionLink("Calendar", "Index", "Calendar", Calendar.InitialView, null)</b> }
        </td></tr>
        if(UserModel.GetCurrentUserID() != -1)
        {
        
            <tr>
                <td>
                    @if (curActn != "" && curCtrl != "user")
                    {
                        @Html.ActionLink("Profile", "Index", "User", new { userId = UserModel.GetCurrentUserID() }, null)
                    }
                    else
                    {
                        <b>@Html.ActionLink("Profile", "Index", "User", new { userId = UserModel.GetCurrentUserID() }, null)</b>
                    }
                </td>
            </tr>
        
            <tr>
                <td>
                    @if (curActn != "" && curCtrl != "group")
                    {
                        @Html.ActionLink("Groups", "Index", "GroupView", null, null)
                    }
                    else
                    {
                        <b>@Html.ActionLink("Groups", "Index", "GroupView", null, null)</b>
                    }
                </td>
            </tr>
            if(UserModel.GetCurrent().Admin) //Only admins may access the maintenance page
            {
                if(curActn != "" && curCtrl != "maintenance") {
                    <tr>
                        <td>
                            @Html.ActionLink("Maintenance","Index","Maintenance",null,null)
                        </td>
                    </tr>   
                }
                else {
                    <tr><td><b>@Html.ActionLink("Maintenance","Index","Maintenance",null,null)</b></td></tr>
                }
            }
        }
        
        <tr>
                <td>
                    @Html.ActionLink("About", "About", "Home", null, null)
                </td>
            </tr>
    }
</table>