@model CalendarApplication.Models.User.UserViewModel

@{
    ViewBag.Title = "View User";
}

@using CalendarApplication.Models.User
@using CalendarApplication.Models.Group
@using CalendarApplication.Models.Event

<h3 style="color:red">@TempData["errorMsg"]</h3>

@if (Model.ID < 0) {
    <h2>Error loading user!</h2>
}
else {
    <h2>User: @Model.UserName</h2>
    <h3 id="active_msg" style="color:red;display:@(Model.Active?"none":"normal")">This user is no longer active!</h3>
    
    <script>
        var isAdmin = @(Model.Admin.ToString().ToLowerInvariant());
        var isActive = @(Model.Active.ToString().ToLowerInvariant());

        function setAdmin(userId) {
            $.ajax({
                url: "/Account/EditUserBool",
                type: 'POST',
                data: { field: 2, userId: userId, value: !isAdmin },
                success: function(result) {
                    if(result) {
                        isAdmin = !isAdmin;
                        $("#admin").removeClass();
                        $("#admin").addClass(isAdmin ? "tick" : "red_cross");
                        $("#admin_button").val(isAdmin ? "Degrade" : "Make admin");
                    }
                }
            });
        }

        function setActive(userId) {
            $.ajax({
                url: "/Account/EditUserBool",
                type: 'POST',
                data: { field: 0, userId: userId, value: !isActive },
                success: function(result) {
                    if(result) {
                        isActive = !isActive;
                        if(isActive) {
                            $("#pswd_reset").removeAttr("disabled");
                            $("#admin_button").removeAttr("disabled");
                            $("#active_msg").hide();
                            $("#active_button").val("Deactivate user");
                        }
                        else {
                            $("#pswd_reset").attr("disabled","disabled");
                            $("#admin_button").attr("disabled","disabled");
                            $("#active_msg").show();
                            $("#active_button").val("Activate user");
                        }
                    }
                }
            });
        }
    </script>
    
    <style>
        #new_pass_box {
            display:none;
            position:absolute;
            top:140px;
            
        }
        #new_pass_box table {
            border-collapse:collapse;
            border:1px black solid;
        }
        #new_pass_box th {
            padding:5px;
            color:white;
            background-color:black;
        }
        #new_pass_box tr td {
            padding:0;
            background-color:lightgrey;
            white-space: nowrap;
        }
    </style>
    
    <table style="margin-left:40px;margin-right:auto">
        <tr>
            <td id="data" style="padding-right:100px">
                <b>Name</b>
                <br />
                @Model.RealName
                <br />
                <br />
                <b>Email</b>
                <br />
                <a href=@("mailto:"+Model.Email)>@Model.Email</a>
                <br />
                <br />
                <b>Phone Number</b>
                <br />
                @Model.Phone
                <br />
                <br />
                <b>Admin</b>
                <br />
                <div id="admin" class="@(Model.Admin?"tick":"red_cross")" style="width:26px;height:26px"></div>
                <br />
                <br />
                @if (UserModel.GetCurrentUserID() == Model.ID)
                {
                    @Html.ActionLink("Edit Profile", "EditUser", "Account", new { userId = Model.ID }, null)
                }
            </td>
            <td id="groups" style="padding-right:100px">
                <b>Groups</b>
                <br />
                @using (Html.BeginListView("Groups", new string[] { "Name" }))
                {
                    foreach (GroupModel g in Model.Groups)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(g.Name, "ViewGroup", "Group", new { groupId = g.ID }, null)
                            </td>
                        </tr>
                    }
                }
            </td>
            <td id="events" style="padding-right:100px">
                <b>Events created</b>
                <br />
                @using(Html.BeginListView("Events",new string[] { "Name", "Type", "State" }))
                {
                    foreach (BasicEvent e in Model.Events)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(e.Name, "Index", "Event", new { eventId = e.ID }, null)
                            </td>
                            <td>
                                @e.TypeName
                            </td>
                            <td style="background-color:@e.getColor()">
                                @e.getStateText()
                            </td>
                        </tr>
                    }
                }
            </td>
            @if (UserModel.GetCurrentUserID() != -1 && UserModel.GetCurrent().Admin && UserModel.GetCurrentUserID() != Model.ID)
            {
                <td id="options" style="width:150px;position:relative">
                    <b>Admin options</b>
                    <br />

                    <input id="admin_button" type="button" value="@(Model.Admin?"Remove admin rights":"Make admin")"
                        onclick="setAdmin(@(Model.ID))"
                        style="width:100%"
                        @(Model.Active?"":"disabled='disabled'") />
                    <br />

                    <input id="pswd_reset" type="button" value="Reset password" onclick="resetPassword(@(Model.ID))"
                        style="width:100%"
                        @(Model.Active?"":"disabled='disabled'") />
                    <br />

                    <input id="active_button" type="button"
                        value="@(Model.Active?"Deactivate user":"Activate user")"
                        onclick="setActive(@(Model.ID))"
                        style="width:100%"/>

                    <br />
                    <div id="new_pass_box">
                        <table>
                            <tr>
                                <th style="text-align:left">New password:</th>
                                <th style="text-align:right"><a style="cursor:pointer" onclick="$('#new_pass_box').hide()">X</a></th>
                            </tr>
                            <tr><td id="new_pass" colspan="2" style="padding:16px;font-size:24pt"></td></tr>
                        </table>
                    </div>
                </td>
            }
        </tr>
    </table>
}