@model CalendarApplication.Models.User.UserViewModel

@{
    ViewBag.Title = "Index";
}

@using CalendarApplication.Models.User

<h3 style="color:red">@TempData["errorMsg"]</h3>

@if (Model.ID < 0) {
    <h2>Error loading user!</h2>
}
else {
    <h2>User Info</h2>
    if(!Model.Active)
    {
    <h3 style="color:red">This user is no longer active!</h3>
    }
    <table>
        <tr>
            <td>
                <table class="gridtable">
                    <tr>
                        <td>User Name</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>Real Name</td>
                        <td>@Model.RealName</td>
                    </tr>
                    <tr>
                        <td>Admin</td>
                        <td class="@(Model.Admin ? "tick" : "red_cross")"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href='@("mailto:"+Model.Email)'>@Model.Email</a></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="gridtable">
                    <tr>
                        <td>User Groups</td>
                    </tr>
                    @for (int i = 0; i < Model.Groups.Count; i++)
                    {
                        <tr>
                            <!-- Add Html.ActionLink when Group view is implemented -->
                            <td>@Model.Groups[i].Name</td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <table class="gridtable">
                    <tr>
                        <td>Events created by user</td>
                    </tr>
                    @for (int i = 0; i < Model.Events.Count; i++)
                    {
                        <tr>
                            <td style="background-color:@(Model.Events[i].getColor())">@Html.ActionLink(Model.Events[i].Name, "Index", "Event", new { eventId = Model.Events[i].ID }, null)
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
    if(UserModel.GetCurrentUserID() != -1 && UserModel.GetCurrentUserID() == Model.ID)
    {
        @Html.ActionLink("Edit Profile","EditUser", "Account", new { userId = Model.ID }, null)
    }
    else if (UserModel.GetCurrentUserID() != -1 && UserModel.GetCurrent().Admin)
    {
        if(Model.Active) {
            if(Model.Admin) {
                <input type="button" value="Remove admin rights" onclick="updateUser('admin',@(Model.ID),false)"/>
            }
            else {
                <input type="button" value="Make admin" onclick="updateUser('admin',@(Model.ID),true)"/>
            }
            <input type="button" value="Reset password" onclick="resetPassword(@(Model.ID))">
            <input type="button" value="Deactivate user" onclick="updateUser('active',@(Model.ID),false)"/>
            <br />
            <div id="new_pass" style="background-color:blue;color:white;width:300px;
                  height:50px;text-align:center;display:none"></div>
        }
        else
        {
            <input type="button" value="Activate user" onclick="updateUser('active',@(Model.ID),true)"/>
        }
    }
}