@model CalendarApplication.Models.Event.EventCreateModel

@{
    ViewBag.Title = "CreateEvent";
}

@using CalendarApplication.Models.Event

<h2>Create Event</h2>

@using (Html.BeginForm()) {
<fieldset>
    <legend>Create New Event</legend>
    <h3>Basic event details:</h3>
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    <br />
    @Html.LabelFor(m => m.Start)
    @Html.TextBoxFor(m => m.Start)
    <br />
    @Html.LabelFor(m => m.End)
    @Html.TextBoxFor(m => m.End)
    <br />
    <select onchange="this.form.submit()">
        @foreach (SelectListItem type in Model.EventTypes)
        {
            <option value="@type.Value" @(type.Selected ? "selected" : "")>@type.Text</option>
        }
    </select>

    @if (Model.TypeSpecefics != null)
    {
        <table>
            @foreach (FieldModel f in Model.TypeSpecefics)
            {
                <tr>
                    <td>@f.Name</td>
                    <td>
                        @switch (f.Datatype)
                        {
                            case 0:
                            case 1:
                            case 3:
                            case 4: Html.TextBoxFor(m => (string)f.Value); break;
                            case 2:
                            case 5: Html.TextBoxFor(m => (string)f.Value); break;
                            case 6: Html.CheckBoxFor(m => (bool)f.Value); break;
                        }
                        @(f.Required ? "<span style='color:red'>*</span>" : "")
                    </td>
                </tr>
            }           
        </table>
    }
</fieldset>
}