@model CalendarApplication.Models.Event.EventEditModel

@{
    ViewBag.Title = "CreateEvent";
}

@using CalendarApplication.Models.Event

<h2>Create Event</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" rel="stylesheet" />

<script>
    function getSpecifics(type) {
        if (type != 0) {
            $.ajax({
                url: "/Event/GetEventSpecific/",
                type: 'GET',
                data: { type: type },
                dataType: 'html',
                success: function (result) {
                    $('#event_specifics').html(result);
                }
            });
        }
        else {
            $('#event_specifics').html("");
        }
    }
</script>

@using (Html.BeginForm()) {
<fieldset style="width:80%">
    <legend>Create New Event</legend>
    @Html.HiddenFor(m => m.ID)

    <table style="margin-left:0;margin-right:0;width:100%">
        <tr>
            <td style="width:60%">
                <h3>Basic event details:</h3>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                <br />
                <br />
                @Html.LabelFor(m => m.SelectedEventType)
                @Html.DropDownListFor(m => Model.SelectedEventType,
                                        new SelectList(Model.EventTypes, "Value", "Text"),
                                        new { onchange="getSpecifics(this.value)" })
                <br />
                <br />
                @Html.LabelFor(m => m.Start) <br />
                @Html.DateTimeEditorFor(m => m.Start, "g.today,l.End")
                <br />
                @Html.LabelFor(m => m.End) <br />
                @Html.DateTimeEditorFor(m => m.End, "g.today,g.Start")
                <br />

                @Html.LabelFor(m => m.RoomSelectList)
                @Html.ListEditorFor(m => m.RoomSelectList, "Rooms Selected", "Rooms Available")
                <br />

                <div id="event_specifics">
                    @if (Model.TypeSpecifics != null && Model.TypeSpecifics.Count > 0)
                    {
                        @Html.Partial("EventSpecificList",Model)
                    }
                </div>
                <input type="submit" value="Create event" />
            </td>
            <td>
                <fieldset>
                    <legend>Event Access Rights</legend>
                    Users with editor rights
                    @Html.ListEditorFor(m => m.UserEditorList, "Users Selected", "Users Available")
                    <br />

                    Groups with editor rights
                    @Html.ListEditorFor(m => m.GroupEditorList, "Groups Selected", "Groups Available")
                    <br />

                    Visible: @Html.CheckBoxFor(m => m.Visible, new { onchange="disableLists('GroupVisibleList',this.checked)" })
                    @Html.ListEditorFor(m => m.GroupVisibleList, "Groups Selected", "Groups Available")
                    @if(Model.Visible) { <script>disableLists('GroupVisibleList', true)</script> }
                </fieldset>
            </td>
        </tr>
    </table>

</fieldset>
}