@model CalendarApplication.Models.Event.BasicEvent
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.Event

@if (Model.ID < 0) {
    <h2>Error loading event!</h2>
}
else {
<h2>Event Index</h2>
<table class="gridtable">
    <tr>
        <td>Event Id</td>
        <td>@Model.ID </td>
    </tr>
    <tr>
        <td>Event Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Event Creator</td>
        <td>@Model.Creator</td>
    </tr>
    <tr>
        <td>Event Type</td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td>Event Start</td>
        <td>@Model.Start</td>
    </tr>
    <tr>
        <td>Event End</td>
        <td>@Model.End</td>
    </tr>
    <tr>
        <td>Event State</td>
        <td>@Model.State</td>
    </tr>
    <tr>
        <td>Event Visible</td>
        <td>AT Model.Visible</td>
    </tr>
            @foreach (Room room in Model.Rooms)
            {
                <tr>
                    <td>Rooms Used</td>
                    <td>@room.Name</td>
                </tr>
            }
</table>
}