@model CalendarApplication.Models.Event.EventWithDetails
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.Event
@using CalendarApplication.Models.EventType
@using CalendarApplication.Models.User


<!-- <script>
    function deleteEvent() {
        var c = confirm("Are you sure you want to delete this event? \nThis is permanent and cannot be undone.");
        if (c == true) {
            
        }
        else {
            
        }
    }

    function deleteFiles() {
        var c = confirm("Should all files tied to this event also be deleted?");
        if (c == true) {
            true
        }
        else {
            false
        }
    }
</script> -->

@if (Model.ID < 0) {
    <h2>Error loading event!</h2>
    <h3 style="color:red">@TempData["errorMsg"]</h3>
}
else {
    <h3 style="color:red">@TempData["errorMsg"]</h3>
    <table>
        <tr>
            <td>Event Details</td>
            <td>Rooms Used</td>
            @if (Model.TypeSpecifics != null && Model.TypeSpecifics.Count != 0)
            {
                <td>Event type specific</td>
            }
        </tr>
        <tr>
            <td>
                <table class="gridtable">
                    <tr>
                        <td>Event Id</td>
                        <td>@Model.ID </td>
                    </tr>
                    <tr>
                        <td>Event Name</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Event Creator</td>
                        <td>@Html.ActionLink(Model.Creator, "Index", "User", new { UserId = Model.CreatorId }, null)</td>
                    </tr>
                    <tr>
                        <td>Event Type</td>
                        <td>@Model.TypeName</td>
                    </tr>
                    <tr>
                        <td>Event Start</td>
                        <td>@Model.Start</td>
                    </tr>
                    <tr>
                        <td>Event End</td>
                        <td>@Model.End</td>
                    </tr>
                    <tr>
                        <td>Event State</td>
                        <td style="background-color: @(Model.getColor())">@(Model.getStateText())</td>
                    </tr>
                    <tr>
                        <td>Event Visible</td>
                        <td class="@(Model.Visible ? "tick" : "red_cross")"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="gridtable">
                    @foreach (Room room in Model.Rooms)
                    {
                        <tr>
                            <td>@room.Name</td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <table class="gridtable">
                    @if (Model.TypeSpecifics != null && Model.TypeSpecifics.Count != 0)
                    {
                        foreach (FieldModel fm in Model.TypeSpecifics)
                        {
                            <tr>
                                <td>@fm.Name</td>
                                @if(fm.Datatype == Fieldtype.Bool){<td class="@(fm.BoolValue ? "tick" : "red_cross")" style="width:16px"></td>}
                                else{
                                <td>
                                    @switch(fm.Datatype)
                                    {
                                        case Fieldtype.Float:       @fm.FloatValue break;
                                        case Fieldtype.User:        if(fm.IntValue != 0) { @Html.ActionLink(fm.StringValue, "Index", "User", new { UserId = fm.IntValue }, null) }
                                                                    else { @fm.StringValue } break;
                                        case Fieldtype.Group:       if(fm.IntValue != 0) { @Html.ActionLink(fm.StringValue, "ViewGroup", "GroupView", new { groupId = fm.IntValue }, null) }
                                                                    else { @fm.StringValue } break;
                                        case Fieldtype.Text:        @fm.StringValue break;
                                        case Fieldtype.File:        @fm.IntValue break;
                                        case Fieldtype.Datetime:    @fm.DateValue break;
                                        case Fieldtype.UserList:    <table>
                                                                    @foreach (SelectListItem user in fm.List)
                                                                    {
                                                                        <tr><td>
                                                                            @Html.ActionLink(user.Text, "Index", "User", new { UserId = Convert.ToInt32(user.Value) }, null)
                                                                        </td></tr>
                                                                    }
                                                                    </table>
                                                                    break;
                                        case Fieldtype.FileList:    <table>
                                                                    @foreach (SelectListItem group in fm.List)
                                                                    {
                                                                        <tr><td>
                                                                            @fm.IntValue
                                                                        </td></tr>
                                                                    }
                                                                    </table>
                                                                    break;

                                        case Fieldtype.GroupList:   <table>
                                                                    @foreach (SelectListItem group in fm.List)
                                                                    {
                                                                        <tr><td>
                                                                            @Html.ActionLink(group.Text, "ViewGroup", "GroupView", new { groupId = Convert.ToInt32(group.Value) }, null)
                                                                        </td></tr>
                                                                    }
                                                                    </table>
                                                                    break;
                                    }
                                </td>}
                            </tr>
                        }
                    }

                </table>
            </td>
        </tr>
    </table>
                    if (UserModel.EditAuthentication(Model.ID, UserModel.GetCurrentUserID()))
                    {
        @Html.ActionLink("Edit event", "EditEvent", "Event", new { eventId = Model.ID, year = 0, month = 0, day = 0 }, null)
                    }

    <script>
        function printEvent(eventId) {
            $.ajax({
                url: "/Event/PrintEvent",
                type: 'POST',
                data: { eventId: eventId },
                success: function (result) { window.open(result); }
            });
        }
    </script>
    
    <button onclick="printEvent(@(Model.ID))">Print Event</button>
    
    if (UserModel.GetCurrent().Admin && Model.Start > DateTime.Now)
    {
        @Html.HiddenFor(model => Model.ID)
        @*<input type="hidden" value="@Model.ID" name="eventId" />*@
        <br />
        <br />
        @:Permanent deletion options:
        <br />
        @:Delete all files associated with event<input type="checkbox" value="true" name="delFiles" />
        <br />
        <input type="submit" value="Delete Event" />
    }
}