@model CalendarApplication.Models.Event.EventWithDetails
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CalendarApplication.Models.Event
@using System.Data

@if (Model.ID < 0) {
    <h2>Error loading event!</h2>
}
else {
<table>
    <tr>
        <td>Event Details</td>
        <td>Rooms Used</td>
        @if (@Model.TypeId != 1)
        {
            <td>Event type specific</td>
        }
    </tr>
    <tr>
        <td>
            <table class="gridtable">
                <tr>
                    <td>Event Id</td>
                    <td>@Model.ID </td>
                </tr>
                <tr>
                    <td>Event Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Event Creator</td>
                    <td>@Html.ActionLink(Model.Creator, "Index", "User", new { UserId = Model.CreatorId }, null)</td>
                </tr>
                <tr>
                    <td>Event Type</td>
                    <td>@Model.TypeName</td>
                </tr>
                <tr>
                    <td>Event Start</td>
                    <td>@Model.Start</td>
                </tr>
                <tr>
                    <td>Event End</td>
                    <td>@Model.End</td>
                </tr>
                <tr>
                    <td>Event State</td>
                    <td style="background-color: @Model.getColor()">@Model.getStateText()</td>
                </tr>
                <tr>
                    <td>Event Visible</td>
                    <td>@Model.Visible</td>
                </tr>
            </table>
        </td>
        <td>
            <table class="gridtable">
                @foreach (Room room in Model.Rooms)
                {
                    <tr>
                        <td>@room.Name</td>
                    </tr>
                }
            </table>
        </td>
        <td>
            <table class="gridtable">
                @if (Model.EventSpecial != null && Model.EventSpecial.Rows.Count != 0)
                {
                    foreach (DataColumn col in Model.EventSpecial.Columns)
                    {
                        <tr>
                            <td>@col.ColumnName</td>
                            <td>@Model.EventSpecial.Rows[0][col.ColumnName]</td>
                        </tr>
                    }
                }

            </table>
        </td>
    </tr>
</table>
}