@model CalendarApplication.Models.Calendar.Calendar

@using CalendarApplication.Models.Event;

<body onload="checkBoxes()">
<fieldset>
    <legend>Filter</legend>
    <b>Event States:</b><br />
    @Html.CheckBoxFor(model => Model.Filter.ViewState0)
    <span class="state_0"></span><br />
    @Html.CheckBoxFor(model => Model.Filter.ViewState1)
    <span class="state_1"></span><br />
    @Html.CheckBoxFor(model => Model.Filter.ViewState2)
    <span class="state_2"></span><br />

    <b>Event Types:</b><input type="checkbox" id="Eventtypes_checkAll" checked="checked" onchange="changeCheckboxes('Eventtypes',this)" /><br />
    @for (int i = 0; i < Model.Filter.Eventtypes.Count; i++)
    {
        <div>
            @Html.HiddenFor(model => Model.Filter.Eventtypes[i].ID)
            @Html.CheckBoxFor(model => Model.Filter.Eventtypes[i].Selected)
            @Model.Filter.Eventtypes[i].Name
        </div>
    }

    <b>Rooms:</b><input type="checkbox" id="Rooms_checkAll" checked="checked" onchange="changeCheckboxes('Rooms',this)" /><br />
    @for (int i = 0; i < Model.Filter.Rooms.Count; i++)
    {
        <div>
            @Html.HiddenFor(model => Model.Filter.Rooms[i].Value)
            @Html.CheckBoxFor(model => Model.Filter.Rooms[i].Selected)
            @Model.Filter.Rooms[i].Text
        </div>
    }

<input type="submit" value="Go"/>
</fieldset>
</body>