@model CalendarApplication.Models.Calendar.CalendarDay

@{
    ViewBag.Title = "Day";
}

@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Event;
@using CalendarApplication.Models.Maintenance;

<script src="@Url.Content("~/Scripts/calendar-script.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Calendar.css")" rel="stylesheet" type="text/css" />

<h3 style="color:red">@TempData["errorMsg"]</h3>

<form id="cal_form" method="post">
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.Mode)

    <table>
        <tr>
            <td>
                <table style="font-size:20px;padding:0;border-spacing:0;width:700px">
                    <tr style="padding:0">
                        <td colspan="3" style="text-align:center;padding:0">
                            <input type="button" value="Today" onclick="goto('@(DateTime.Today.ToString("yyyy-MM-dd"))')" />
                        </td>
                    </tr>
                    <tr style="padding:0">
                        <td style="text-align:left;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddDays(-1).ToString("<- d. MMM"))"
                                onclick="goto('@(Model.Date.AddDays(-1).ToString("yyyy-MM-dd"))')" />
                        </td>
                        <td style="padding:0;text-align:center;">
                            @(Model.Date.Day + ". " + Calendar.MONTHS[Model.Date.Month-1] + " " + Model.Date.Year)
                        </td>
                        <td style="text-align:right;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddDays(1).ToString("d. MMM ->"))"
                                onclick="goto('@(Model.Date.AddDays(1).ToString("yyyy-MM-dd"))')" />
                        </td>
                    </tr>
                </table>

                <style>
                    table.day-view {
                        border: 1px solid black;
                        border-collapse:collapse
                    }
                    table.day-view tr {
                        border: 1px solid black;
                        padding:0;
                    }
                    table.day-view td {
                        border: 1px solid black;
                        padding:0;
                        height:14px;
                    }
                </style>

                <table class="day-view">
                    <tr>
                        <td></td>
                        @foreach (Room r in Model.Rooms)
                        {
                            <td style="width:100px">
                                @r.Name
                            </td>
                        }
                    </tr>
                    <tr>
                        @{
                            DateTime offset = Model.Date;
                            <td style="height:28px" rowspan="2">@offset.ToString("HH:mm")</td>
                            foreach (Room r in Model.Rooms)
                            {
                                <td style="position:relative;z-index:2;">
                                    @foreach (BasicEvent e in Model.Events)
                                    {
                                        if (e.Rooms.Contains(r))
                                        {
                                            int start = e.Start < offset ? 0 : ((e.Start.Hour - offset.Hour) * 60 + e.Start.Minute) / 2;
                                            int dist = e.End > offset.AddDays(1) ? 720 - start
                                                : ((e.End.Hour - offset.Hour) * 60 + e.End.Minute) / 2 - start;
                                            
                                            <div style="position:absolute;z-index:1;top:@(start)px;left:4px;width:92px;height:@(dist)px;
                                                        background-color:@(e.getColor());">
                                                @e.Name
                                            </div>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                    @for (int hour = 0; hour < 47; hour++)
                    {
                        <tr>
                            @if (hour % 2 != 0)
                            {
                                offset = offset.AddHours(1);
                                <td style="height:28px" rowspan="2">@offset.ToString("HH:mm")</td>
                            }
                            @for (int i = 0; i < Model.Rooms.Count; i++) { <td></td> }
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.Partial("_FilterPartial", Model)
            </td>
        </tr>
    </table>
</form>