@model CalendarApplication.Models.Calendar.CalendarDay

@{
    ViewBag.Title = "Day";
}

@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Event;
@using CalendarApplication.Models.Maintenance;

<script src="@Url.Content("~/Scripts/calendar-script.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Calendar.css")" rel="stylesheet" type="text/css" />

<h3 style="color:red">@TempData["errorMsg"]</h3>

<form id="cal_form" method="post">
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.Mode)

    <table>
        <tr>
            <td>
                <table style="font-size:20px;padding:0;border-spacing:0;width:700px">
                    <tr style="padding:0">
                        <td colspan="3" style="text-align:center;padding:0">
                            <input type="button" value="Today" onclick="goto('@(DateTime.Today.ToString("yyyy-MM-dd"))')" />
                        </td>
                    </tr>
                    <tr style="padding:0">
                        <td style="text-align:left;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddDays(-1).ToString("<- d. MMM"))"
                                onclick="goto('@(Model.Date.AddDays(-1).ToString("yyyy-MM-dd"))')" />
                        </td>
                        <td style="padding:0;text-align:center;">
                            @(Model.Date.Day + ". " + Calendar.MONTHS[Model.Date.Month-1] + " " + Model.Date.Year)
                        </td>
                        <td style="text-align:right;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddDays(1).ToString("d. MMM ->"))"
                                onclick="goto('@(Model.Date.AddDays(1).ToString("yyyy-MM-dd"))')" />
                        </td>
                    </tr>
                </table>

                <table class="day-view">
                    <tr>
                        <td style="border-left:none;border-top:none"></td>
                        @foreach (Room r in Model.Rooms)
                        {
                            <th>
                                @r.Name
                            </th>
                        }
                    </tr>
                    <tr>
                        @{
                            DateTime offset = Model.Date;
                            <td class="timestamp" rowspan="2">@offset.ToString("HH:mm")</td>
                            foreach (Room r in Model.Rooms)
                            {
                                <td class="row" style="position:relative;z-index:2;">
                                    @foreach (BasicEvent e in Model.Events)
                                    {
                                        if (e.Rooms.Contains(r))
                                        {
                                            @* Calculate painting start and height *@
                                            int start = 0;
                                            if(e.Start > offset)
                                            {
                                                TimeSpan s = e.Start - offset;
                                                start = (s.Hours * 60 + s.Minutes) / 2;
                                            }
                                            int height = 720 - start;
                                            if(e.End < offset.AddDays(1))
                                            {
                                                if(start == 0)
                                                {
                                                    TimeSpan s = e.End - offset;
                                                    height = (s.Hours * 60 + s.Minutes) / 2;
                                                }
                                                else
                                                {
                                                    TimeSpan s = e.End - e.Start;
                                                    height = (s.Hours * 60 + s.Minutes) / 2;
                                                }
                                            }
                                            
                                            <div class="day-event"
                                                style="position:absolute;z-index:1;top:@(start)px;left:4px;width:92px;height:@(height)px;
                                                       background-color:@(e.getColor());@(e.ViewVisible?"cursor:pointer":"")"
                                                @(e.ViewVisible?"onclick=window.location='" + Url.Action("Index","Event", new { id = e.ID }) + "'":"")>
                                                @if(e.ViewVisible)
                                                {
                                                    @e.Name <br />
                                                    @* Creator: e.Creator and more fields *@
                                                }
                                                else
                                                {
                                                    @:Room occupied!
                                                }
                                            </div>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                    @for (int hour = 0; hour < 47; hour++)
                    {
                        <tr>
                            @if (hour % 2 != 0)
                            {
                                offset = offset.AddHours(1);
                                <td class="timestamp" rowspan="2">@offset.ToString("HH:mm")</td>
                            }
                            @for (int i = 0; i < Model.Rooms.Count; i++) { <td class="row"></td> }
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.Partial("_FilterPartial", Model)

                @if (UserModel.GetCurrentUserID() != -1)
                {
                    @* A user is signed in... *@
                    <input type="button" value="New event!" onclick="window.location='@Url.Action("EditEvent","Event",
                                                                    new { id = -1, year = Model.Date.Year,
                                                                          month = Model.Date.Month, day = Model.Date.Day })'"/>
                }
            </td>
        </tr>
    </table>
</form>