@model CalendarApplication.Models.Calendar.EventViewModel

@{
    ViewBag.Title = "Index";
}

@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Event;

<script src="@Url.Content("~/Scripts/calendar-script.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Calendar.css")" rel="stylesheet" type="text/css" />

<h2>Events</h2>

<h3 style="color:red">@TempData["errorMsg"]</h3>

<form id="cal_form" method="post">
    <table>
        <tr>
            <td>
                <!-- Paint the current view-mode -->
                @if (Model.Mode == CalendarMode.MONTH)
                {
                    @Html.Partial("Month", Model.CurrentModel);
                }
                else if (Model.Mode == CalendarMode.DAY)
                {
                    @Html.Partial("Day", Model.CurrentModel);
                }
                else if (Model.Mode == CalendarMode.LIST)
                {
                    @Html.Partial("List", Model.CurrentModel);
                }
            </td>
            <td>
                <fieldset>
                    <legend>Change view</legend>
                        @Html.HiddenFor(model => model.Mode)

                        @if (Model.Mode == CalendarMode.MONTH)
                        {
                            @Html.DateTimeEditorFor(model => model.DateFrom, new[] { "Month", "Year" }, "")
                        }
                        else
                        {
                            @Html.DateTimeEditorFor(model => model.DateFrom, new[] { "Day", "Month", "Year" }, "")
                        }
                    
                        @if (Model.Mode == CalendarMode.LIST)
                        {
                            @Html.DateTimeEditorFor(model => model.DateTo, new[] { "Day", "Month", "Year" }, "")
                        }
                
                        <b>Event States:</b><br />
                        @Html.CheckBoxFor(model => Model.ViewState0)
                        <span style="color:@BasicEvent.getColor(0)">@BasicEvent.getStateText(0)</span><br />
                        @Html.CheckBoxFor(model => Model.ViewState1)
                        <span style="color:@BasicEvent.getColor(1)">@BasicEvent.getStateText(1)</span><br />
                        @Html.CheckBoxFor(model => Model.ViewState2)
                        <span style="color:@BasicEvent.getColor(2)">@BasicEvent.getStateText(2)</span><br />

                        <b>Event Types:</b><br />
                        @for (int i = 0; i < Model.Eventtypes.Count; i++)
                        {
                            <div>
                                @Html.HiddenFor(model => Model.Eventtypes[i].ID)
                                @Html.HiddenFor(model => Model.Eventtypes[i].Name)
                                @Html.CheckBoxFor(model => Model.Eventtypes[i].Selected)
                                @Model.Eventtypes[i].Name
                            </div>
                        }
                <input type="submit" value="Go"/>
                </fieldset>
            </td>
        </tr>
    </table>
</form>