@model CalendarApplication.Models.Calendar.CalendarList

@using System;
@using System.Data;
@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.Event;

<h2>Listing events from <i>@(Model.Start.ToString("d. MMM yyyy"))</i>
                     to <i>@(Model.End.ToString("d. MMM yyyy"))</i></h2>

<table border="1">
    <tr>
        <td><b>Event Name</b></td>   <td><b>Starting</b></td>    <td><b>Ending</b></td>  <td><b>Created by:</b></td>
        <td><b>Event Type</b></td>   <td><b>State</b></td>
    </tr>
    @foreach (BasicEvent ev in Model.Events) {
        <tr>
            <td>
                @Html.ActionLink((ev.Name.Length > 10 ? ev.Name.Substring(0,8)+"..." : ev.Name), "Index", "Event", new { id = ev.ID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.End)
            </td>
            <td>
                <!-- Html.DisplayFor(modelItem => ev.Creator) -->
                @Html.ActionLink(ev.Creator, "Index", "User", new { UserId = ev.CreatorId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.TypeName)
            </td>
            <td style="background-color:@(ev.getColor())">
                @ev.getStateText()
            </td>
        </tr>
    }

</table>