@model CalendarApplication.Models.Calendar.CalendarList

@{
    ViewBag.Title = "List";
}

@using CalendarApplication.Models.Event;

<form id="list_form">
    <table>
        <tr>
            <td>
                <fieldset id="search">
        <legend>Search</legend>

        <table id="dates">
            <tr>
                <td id="from">

                </td>
                <td id="all">

                </td>
            </tr>
            <tr>
                <td id="to">

                </td>
            </tr>
        </table>

        <table id="limit">
            <tr>
                <td>Results pr. page:</td>
            </tr>
        </table>
    
        <input type="submit" value="Search" />
    </fieldset>
            </td>
            <td rowspan="2">
                @Html.Partial("_FilterPartial", Model);
            </td>
        </tr>
        <tr>
            <td>
                <table id="navi-high" border="1">
                    <tr>
                        <td><-</td>
                        <td>1</td>
                        @for (int i = 0; i < Model.Events.Count / Model.Limit; i++)
                        {
                            <td>@(i+2)</td>
                        }
                        <td>-></td>
                    </tr>
                </table>

                <table id ="list">
                    <tr>
                        <th>Event name</th>
                        <th>Type</th>
                        <th>Creator</th>
                        <th>Starting</th>
                        <th>Ending</th>
                        <th>State</th>
                    </tr>
                    @foreach (BasicEvent e in Model.Events)
                    {
                        <tr>
                            <td>@e.Name</td>
                            <td>@e.TypeName</td>
                            <td>@e.Creator</td>
                            <td>@e.Start</td>
                            <td>@e.End</td>
                            <td style="background-color:@e.getColor()">@e.getStateText()</td>
                        </tr>
                    }
                </table>

                <table id="navi-low" border="1">
                    <tr>
                        <td><-</td>
                        <td>1</td>
                        @for (int i = 0; i < Model.Events.Count / Model.Limit; i++)
                        {
                            <td>@(i+2)</td>
                        }
                        <td>-></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>