@model CalendarApplication.Models.Calendar.CalendarMonth

@{
    ViewBag.Title = "Month";
}

@using System.Globalization;
@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.User;
@using CalendarApplication.Models.Event;

<script src="@Url.Content("~/Scripts/calendar-script.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Calendar.css")" rel="stylesheet" type="text/css" />

<h3 style="color:red">@TempData["errorMsg"]</h3>

<form id="cal_form" method="post">
    <input type="hidden" name="Date" id="Date" value="@Model.Date.ToString("yyyy-MM")" />
    @Html.HiddenFor(model => model.Mode)
    <table>
        <tr>
            <td>
                <table style="font-size:20px;padding:0;border-spacing:0;width:700px">
                    <tr style="padding:0">
                        <td colspan="3" style="text-align:center;padding:0">
                            <input type="button" value="Today" onclick="goto('@(DateTime.Today.ToString("yyyy-MM"))')" />
                        </td>
                    </tr>
                    <tr style="padding:0">
                        <td style="text-align:left;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddYears(-1).ToString("<- yyyy"))"
                                onclick="goto('@(Model.Date.AddYears(-1).ToString("yyyy-MM"))')" />
                        </td>
                        <td style="padding:0;text-align:center;">
                            <select onchange="goto(this.options[this.selectedIndex].value + '-@(Model.Date.ToString("MM"))')">
                                @for (int offset = -5; offset < 10; offset++)
                                {
                                    int year = Model.Date.Year + offset;
                                    <option value="@year" @(offset == 0 ? "selected='selected'" : "")>@year</option>
                                }
                            </select>
                        </td>
                        <td style="text-align:right;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddYears(1).ToString("yyyy ->"))"
                                onclick="goto('@(Model.Date.AddYears(1).ToString("yyyy-MM"))')" />
                        </td>
                    </tr>
                    <tr style="padding:0">
                        <td style="text-align:left;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddMonths(-1).ToString("<- MMMM"))"
                                onclick="goto('@(Model.Date.AddMonths(-1).ToString("yyyy-MM"))')" />
                        </td>
                        <td style="padding:0;text-align:center">
                            <select onchange="goto('@(Model.Date.ToString("yyyy"))-' + this.options[this.selectedIndex].value)">
                                @for (int m = 0; m < 12; m++)
                                {
                                    int month = m + 1;
                                    <option value="@(month < 10 ? "0"+month : month.ToString())"
                                        @(Model.Date.Month == month ? "selected='selected'" : "")>
                                        @CalendarApplication.Models.Calendar.Calendar.MONTHS[m]
                                    </option>
                                }
                            </select>
                        </td>
                        <td style="text-align:right;padding:0;width:15%">
                            <input type="button" value="@(Model.Date.AddMonths(1).ToString("MMMM ->"))"
                                onclick="goto('@(Model.Date.AddMonths(1).ToString("yyyy-MM"))')" />
                        </td>
                    </tr>
                </table>

                <div style="position:relative;z-index:1">
                <table class="calendar">
                    <tr>
                        <th></th>
                        @foreach (string day in CalendarApplication.Models.Calendar.Calendar.DAYS)
                        {
                            <th>@day</th>
                        }
                    </tr>
                    <tr>
                    @{
                        int i = 0;
                        DateTimeFormatInfo dfi = DateTimeFormatInfo.CurrentInfo;
                        System.Globalization.Calendar cal = dfi.Calendar;
                    }
                    @foreach (CalendarDay day in Model.Days)
                    {
                        if (i % 7 == 0)
                        {
                            <td class="week-number">@cal.GetWeekOfYear(day.Date,dfi.CalendarWeekRule,dfi.FirstDayOfWeek)</td>
                        }
                        <td class="calendar-month" style="@(!day.Active ? "background-color:lightgrey;" : "")
                            @(day.Date.Year == DateTime.Now.Year &&
                                day.Date.Month == DateTime.Now.Month &&
                                day.Date.Day == DateTime.Now.Day ? "border-width:4px" : "")">
                            <table style="border-spacing:0;width:100%">
                                <tr>
                                    <td class="calendar-date-number" onclick="goto('@(day.Date.ToString("yyyy-MM-dd"))')">
                                        @day.Date.Day.ToString()
                                    </td>
                                    <td style="padding:3px" rowspan="2">
                                        <table style="border-spacing:0;width:100%">
                                            @foreach (BasicEvent e in day.Events)
                                            {
                                                string divId = "event_" + day.Date.ToString("MM-dd") + e.ID;
                                                <tr style="padding:0;background-color:@(e.getColor());">
                                                    <td style="position:relative;text-align:left;padding:0;cursor:pointer"
                                                        onmouseover="showPopup('@divId')"
                                                        onmouseout="hidePopup('@divId')"
                                                        onclick="window.location='@Url.Action("Index","Event",new {eventId=e.ID})'">
                                                        <div id="@(divId)_small" style="display:none;position:absolute;z-index:2;
                                                                    background-color:@(e.getColor());white-space:nowrap;cursor:pointer"
                                                            onclick="window.location='@Url.Action("Index","Event",new {eventId=e.ID})'">
                                                            @e.Name
                                                        </div>
                                                        <div id="@(divId)_big" style="display:none;position:absolute;z-index:2;cursor:pointer" onmouseout="hidePopupBig('@divId')">
                                                            <table class="event-popup">
                                                                <tr><td colspan="2" style="background-color:@(e.getColor());white-space:nowrap"
                                                                    onclick="window.location='@Url.Action("Index","Event",new {eventId=e.ID})'">@e.Name</td></tr>
                                                                <tr><td>Type:</td><td>@e.TypeName</td></tr>
                                                                <tr><td>Creator:</td><td>@e.Creator</td></tr>
                                                                <tr><td>State:</td><td style="color:@(e.getColor())">@e.getStateText()</td></tr>
                                                            </table>
                                                        </div>
                                                        @* Fixed size span - because inherit doesn't work properly *@
                                                        <span style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:86px;display:block">@e.Name</span>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                            </table>
                        </td>
                        i++;
                        if(@i % 7 == 0)
                        {
                            @:</tr><tr>  
                        }
                    }
                    </tr>
                </table>
                </div>
            </td>
            <td>
                @Html.Partial("_FilterPartial",Model)
            </td>
        </tr>
    </table>
</form>