@model CalendarApplication.Models.Calendar.CalendarMonth

<h2>Monthly view</h2>

@using CalendarApplication.Models.Calendar;
@using CalendarApplication.Models.Event;
@using System.Globalization;

@Html.ActionLink("View List", "Index", new { mode = 2, year = Model.Date.Year, month = Model.Date.Month, day = 1 })

<table style="font-size:20px;padding:0;border-spacing:0;width:700px">
    <tr style="padding:0">
        <td colspan="3" style="text-align:center;padding:0">
            @Html.ActionLink("Today", "Index", "Calendar",new { year = DateTime.Now.Year, month = DateTime.Now.Month }, null)
        </td>
    </tr>
    <tr style="padding:0">
        <td style="text-align:left;padding:0;width:15%">
                        @Html.ActionLink(Model.Date.AddYears(-1).ToString("<- yyyy"), "Index", "Calendar",
                             new { mode = 0, year = Model.Date.AddYears(-1).Year, month = Model.Date.Month, day = 0 }, null)
        </td>
        <td style="padding:0;text-align:center;">@Model.Date.Year</td>
        <td style="text-align:right;padding:0;width:15%">
                        @Html.ActionLink(Model.Date.AddYears(1).ToString("yyyy ->"), "Index", "Calendar",
                             new { mode = 0, year = Model.Date.AddYears(1).Year, month = Model.Date.Month, day = 0 }, null)
        </td>
    </tr>
    <tr style="padding:0">
        <td style="text-align:left;padding:0;width:15%">
                        @Html.ActionLink(Model.Date.AddMonths(-1).ToString("<- MMMM"), "Index", "Calendar",
                             new { mode = 0, year = Model.Date.AddMonths(-1).Year,
                                 month = Model.Date.AddMonths(-1).Month, day = 0}, null)
        </td>
        <td style="padding:0;text-align:center">@(Model.Date.ToString("MMMM"))</td>
        <td style="text-align:right;padding:0;width:15%">
                        @Html.ActionLink(Model.Date.AddMonths(1).ToString("MMMM ->"), "Index", "Calendar",
                             new { mode = 0, year = Model.Date.AddMonths(1).Year,
                                 month = Model.Date.AddMonths(1).Month, day = 0 }, null)
        </td>
    </tr>
</table>

<table border="1" style="border-spacing:0">
    <tr>
        <td></td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
    <tr>
    @{
        var i = 0;
        DateTimeFormatInfo dfi = DateTimeFormatInfo.CurrentInfo;
        System.Globalization.Calendar cal = dfi.Calendar;
    }
    @foreach (CalendarDay day in Model.Days)
    {
        if (i % 7 == 0)
        {
            <td>@cal.GetWeekOfYear(day.Date,dfi.CalendarWeekRule,dfi.FirstDayOfWeek)</td>
        }
        <td style="background-color:@(day.Active ? "white" : "lightgrey");text-align:left;vertical-align:top;
            borderspacing:0;padding:0;width:100px;height:80px;
            border-width:@(day.Date.Month == DateTime.Now.Month && day.Date.Day == DateTime.Now.Day ? "4px" : "1px")">
            <table style="border-spacing:0;width:100%">
                <tr>
                    <td style="text-align:left;vertical-align:top;padding:0;font-size:14px;width:8px">
                        @Html.ActionLink(day.Date.Day.ToString(), "Index", "Calendar",
                                         new { mode = 1, year = day.Date.Year, month = day.Date.Month, day = day.Date.Day }, null)
                    </td>
                    <td style="padding:3px">
                        <table style="border-spacing:0;width:100%">
                            @foreach (BasicEvent e in day.Events)
                            {
                            <tr style="padding:0;background-color:@(e.getColor())">
                                <td style="text-align:left;padding:0">
                                    @Html.ActionLink((e.Name.Length > 10 ? e.Name.Substring(0,8)+"..." : e.Name), "Index", "Event", new { id = e.ID }, null)
                                </td>
                            </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        i++;
        if(@i % 7 == 0)
        {
            @:</tr><tr>  
        }
    }
    </tr>
</table>