@model CalendarApplication.Models.User.UserListModel

@{
    ViewBag.Title = "UserList";
}

<h2>Users</h2>


@using (Html.BeginForm())
{
    using (Html.BeginListView("Users", new string[] { "First Name", "Last Name", "User Name", "Email", "Phone #", "Admin" }))
                {
                    for (int i = 0; i < Model.UserList.Count; i++)
                    {
                        <tr>
                            <td>@Html.ActionLink(Model.UserList[i].FirstName, "Index", "User", new { userId = Model.UserList[i].ID }, null) </td>
                            <td>@Html.ActionLink(Model.UserList[i].LastName, "Index", "User", new { userId = Model.UserList[i].ID }, null) </td>
                            <td>@Model.UserList[i].UserName</td>
                            <td><a href="mailto:@Model.UserList[i].Email">@Model.UserList[i].Email</a> </td>
                            <td>@Model.UserList[i].Phone </td>
                            <td><div class="@(Model.UserList[i].Admin ? "tick" : "red_cross")" style="width:26px;height:26px;margin:auto"></div></td>
                        </tr>
                    }
                }
}